.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.domain span{
  display: inline-block;
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 5px;
  bottom: 5px;
  /* left: 3px; */
  margin-left: 3px;
}

.LinkShort {
  display: flex;
  padding: 5px;
  bottom: 5px;
  left: 3px;
}

/* Background */

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #3E1E68;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 6vmin;
  height: 6vmin;
  border-radius: 6vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 50;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #E45A84;
  top: 46%;
  left: 70%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 14vw -17vh;
  box-shadow: -12vmin 0 1.9858823541676718vmin currentColor;
}
.background span:nth-child(1) {
  color: #FFACAC;
  top: 28%;
  left: 57%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 1vw -20vh;
  box-shadow: 12vmin 0 1.9414532061123055vmin currentColor;
}
.background span:nth-child(2) {
  color: #FFACAC;
  top: 21%;
  left: 56%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -14vw -23vh;
  box-shadow: 12vmin 0 2.2931271738775765vmin currentColor;
}
.background span:nth-child(3) {
  color: #E45A84;
  top: 84%;
  left: 65%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -4vw -15vh;
  box-shadow: 12vmin 0 2.142332548272397vmin currentColor;
}
.background span:nth-child(4) {
  color: #E45A84;
  top: 27%;
  left: 36%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -7vw -10vh;
  box-shadow: 12vmin 0 2.0042319999101164vmin currentColor;
}
.background span:nth-child(5) {
  color: #E45A84;
  top: 15%;
  left: 57%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 10vw -16vh;
  box-shadow: 12vmin 0 1.8780850034002896vmin currentColor;
}
.background span:nth-child(6) {
  color: #E45A84;
  top: 82%;
  left: 32%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -6vw 0vh;
  box-shadow: 12vmin 0 1.5370604952442672vmin currentColor;
}
.background span:nth-child(7) {
  color: #583C87;
  top: 13%;
  left: 61%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 25vw 22vh;
  box-shadow: 12vmin 0 1.8199018541853604vmin currentColor;
}
.background span:nth-child(8) {
  color: #583C87;
  top: 42%;
  left: 96%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 1vw -3vh;
  box-shadow: 12vmin 0 2.0860875223180035vmin currentColor;
}
.background span:nth-child(9) {
  color: #E45A84;
  top: 31%;
  left: 94%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 18vw 18vh;
  box-shadow: -12vmin 0 1.7295904408169622vmin currentColor;
}
.background span:nth-child(10) {
  color: #E45A84;
  top: 77%;
  left: 28%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 0vw -8vh;
  box-shadow: -12vmin 0 2.1453568403982994vmin currentColor;
}
.background span:nth-child(11) {
  color: #FFACAC;
  top: 90%;
  left: 51%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 11vw -8vh;
  box-shadow: 12vmin 0 2.1895541344844984vmin currentColor;
}
.background span:nth-child(12) {
  color: #583C87;
  top: 42%;
  left: 70%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 2vw 23vh;
  box-shadow: 12vmin 0 2.468150914124876vmin currentColor;
}
.background span:nth-child(13) {
  color: #583C87;
  top: 34%;
  left: 51%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 24vw 5vh;
  box-shadow: -12vmin 0 2.272471027970203vmin currentColor;
}
.background span:nth-child(14) {
  color: #FFACAC;
  top: 8%;
  left: 41%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 24vw -15vh;
  box-shadow: 12vmin 0 2.0757112834958975vmin currentColor;
}
.background span:nth-child(15) {
  color: #E45A84;
  top: 94%;
  left: 82%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 0vw 21vh;
  box-shadow: -12vmin 0 2.143530510415564vmin currentColor;
}
.background span:nth-child(16) {
  color: #583C87;
  top: 44%;
  left: 30%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 14vw 15vh;
  box-shadow: 12vmin 0 1.8030627087991535vmin currentColor;
}
.background span:nth-child(17) {
  color: #583C87;
  top: 58%;
  left: 84%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -7vw 15vh;
  box-shadow: 12vmin 0 2.086706761167118vmin currentColor;
}
.background span:nth-child(18) {
  color: #E45A84;
  top: 86%;
  left: 20%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 2vw -2vh;
  box-shadow: -12vmin 0 2.4409337065214003vmin currentColor;
}
.background span:nth-child(19) {
  color: #E45A84;
  top: 18%;
  left: 9%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 3vw -23vh;
  box-shadow: -12vmin 0 1.6338700845130951vmin currentColor;
}
.background span:nth-child(20) {
  color: #FFACAC;
  top: 50%;
  left: 47%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 10vw 20vh;
  box-shadow: 12vmin 0 1.9104454679098417vmin currentColor;
}
.background span:nth-child(21) {
  color: #FFACAC;
  top: 10%;
  left: 51%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 2vw 14vh;
  box-shadow: -12vmin 0 2.0816834946249427vmin currentColor;
}
.background span:nth-child(22) {
  color: #FFACAC;
  top: 40%;
  left: 27%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 6vw -10vh;
  box-shadow: -12vmin 0 1.9730047777130886vmin currentColor;
}
.background span:nth-child(23) {
  color: #FFACAC;
  top: 91%;
  left: 42%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -10vw 11vh;
  box-shadow: 12vmin 0 1.7596800020697658vmin currentColor;
}
.background span:nth-child(24) {
  color: #FFACAC;
  top: 53%;
  left: 8%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 24vw 1vh;
  box-shadow: 12vmin 0 2.349414310066948vmin currentColor;
}
.background span:nth-child(25) {
  color: #FFACAC;
  top: 53%;
  left: 91%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -4vw -22vh;
  box-shadow: 12vmin 0 1.5797070790725998vmin currentColor;
}
.background span:nth-child(26) {
  color: #583C87;
  top: 53%;
  left: 86%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 24vw -13vh;
  box-shadow: -12vmin 0 1.8943340364980392vmin currentColor;
}
.background span:nth-child(27) {
  color: #FFACAC;
  top: 61%;
  left: 67%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -17vw 2vh;
  box-shadow: 12vmin 0 2.2262174006191575vmin currentColor;
}
.background span:nth-child(28) {
  color: #583C87;
  top: 3%;
  left: 51%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -14vw 11vh;
  box-shadow: 12vmin 0 1.7523498247997726vmin currentColor;
}
.background span:nth-child(29) {
  color: #583C87;
  top: 92%;
  left: 45%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -1vw 1vh;
  box-shadow: -12vmin 0 1.7240156878707693vmin currentColor;
}
.background span:nth-child(30) {
  color: #583C87;
  top: 81%;
  left: 100%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 10vw 18vh;
  box-shadow: 12vmin 0 1.8263969668480178vmin currentColor;
}
.background span:nth-child(31) {
  color: #FFACAC;
  top: 5%;
  left: 89%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -22vw 15vh;
  box-shadow: -12vmin 0 2.0520221357719977vmin currentColor;
}
.background span:nth-child(32) {
  color: #583C87;
  top: 65%;
  left: 61%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: 23vw -19vh;
  box-shadow: 12vmin 0 2.3938008615632316vmin currentColor;
}
.background span:nth-child(33) {
  color: #E45A84;
  top: 82%;
  left: 26%;
  animation-duration: 6s;
  animation-delay: -1s;
  transform-origin: -13vw 25vh;
  box-shadow: 12vmin 0 2.0530741576783336vmin currentColor;
}
